{% include 'header.html' %}

    <h1>Plain Old Recipes</h1>
    <p>Take a recipe website URL and remove the cruft.</p>

    <div class="recipe-input">
            <form method="GET" action="{{ url_for('recipe') }}">
            <input type="text" name="url" autofocus />
            <button type="submit">
                Simplify...
            </button>
        </form>
    </div>

{% include 'footer.html' %}
