    <nav class="nav">
    <a href="{{ url_for('index') }}">Home</a> |
    <a href="{{ url_for('supported_websites') }}">Supported Websites</a> |
    <a href="javascript:void(window.open('https://bredley.co.uk/recipes/recipe?url='+location.href.replace(/%5C/$/,%20'')));">Bookmarklet</a> |
    <a href="https://github.com/BreD1810/plainoldrecipe">GitHub</a>
    </nav>
